services:
  - type: web
    name: ai_journal
    runtime: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: ai_journal_db
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
      - key: OPENAI_API_KEY
        sync: false
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: BASIC_AUTH_USER
        sync: false
      - key: BASIC_AUTH_PASSWORD
        sync: false
      - key: WEB_CONCURRENCY
        value: "2"
      - key: RAILS_MAX_THREADS
        value: "5"
      - key: RAILS_LOG_LEVEL
        value: "warn"
      - key: MALLOC_ARENA_MAX
        value: "2"
      - key: RUBY_GC_HEAP_GROWTH_FACTOR
        value: "1.1"
      - key: RUBY_GC_MALLOC_LIMIT
        value: "16000000"

databases:
  - name: ai_journal_db
    databaseName: ai_journal_production
    user: ai_journal
